body{
    color: black;
    background-color: #FFD31C;
    font-family:  'Lucida Console', monospace}
  .container{
    text-align: justify;
    font-size: clamp(16px, 3vw, 22px);
    width: min(80%,600px);
    margin:auto;
  }